#resume-page,
#resume-page body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

nav {
	flex: 0 25%;
}

#resume-super {
	max-width: 1000px;
	margin: 0 auto;
	min-height: 0;
	flex: 1;

	display: flex;
	flex-direction: column;
}

#resume-header {
	padding: 2rem 0 0 0;
	width: 100%;
	flex: 0;
}

#resume-header li {
	margin-bottom: 0;
}

#resume-header h1 {
	margin-top: 0;
}

#resume-header ul {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 1rem;
}

#resume-container {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0 0 0;
	column-gap: 2rem;
	min-height: 0;
	flex: 1;
}
#general-info {
	min-width: 150px;
}
#general-info h2 {
	margin-top: 8px;
}
#general-info p,
#general-info h4 {
	margin: 8px 0;
}

#job-history-container {
	height: 100%;
	overflow: hidden;
}

#job-history-filter-by-container {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-bottom: 8px;
}
#job-history-filter-by-container h4 {
	margin: 8px 0;
	min-width: fit-content;
}
#job-history-filter-by-container > div {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#job-history-filter-by-container ul {
	display: flex;
	gap: 1rem;
}
#job-history-filter-by-container ul li {
	margin-bottom: 0;
}
#job-history-filter-by-container button.disabled {
	opacity: 0.5;
	cursor: none;
	pointer-events: none;
}

#job-history {
	/* border: 2px solid blue; */
	height: calc(100% - 4rem);
	overflow: auto;
	scrollbar-width: thin;
	padding-right: 8px;
}

#job-history-container h2 {
	margin: 0;
	margin-bottom: 8px;
	padding: 8px 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.25);
	box-sizing: content-box;
}

.job-data-child {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 1rem;
}

.job-data-child a {
	font-style: italic;
}

.job-data-child p {
	margin: 0;
}

.job-data-child:not(:last-of-type)::after {
	content: '';
	width: 90%;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.25);
	margin: 8px auto 0 auto;
}

.job-data-child ul li {
	margin-bottom: 8px;
}

.job-data-child ul li:last-child {
	margin-bottom: 0;
}

.job-data-child-header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 1rem;
	row-gap: 8px;
	position: sticky;
	top: 0;
	background-color: lightblue;
	padding-bottom: 4px;
}

.job-data-child-header div:first-child span:first-child {
	font-weight: 700;
	font-size: 18px;
}

.job-data-child-header div:first-child span:not(:first-of-type)::before {
	content: '-';
	margin-right: 8px;
}

.job-data-child-header div:nth-child(2) span:first-child::after {
	content: '-';
	margin-left: 8px;
}

.job-data-child-header div {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.job-data-child-tech-used {
	display: flex;
	gap: 8px;
}

#last-updated {
	position: fixed;
	bottom: 8px;
	left: 8px;
}

@media screen and (max-width: 1400px) {
	#last-updated {
		position: relative;
	}
}

@media screen and (max-height: 900px) {
	#general-info {
		overflow-y: auto;
		scrollbar-width: thin;
	}
}

@media screen and (max-width: 675px) {
	#general-info {
		display: none;
	}
	#job-history-filter-by-container ul {
		gap: 4px;
	}
}

@media print {
	nav {
		display: none;
	}

	div.job-data-child {
		break-inside: avoid;
	}

	#resume-super,
	#job-history-container {
		min-height: unset;
		overflow: visible;
		margin-bottom: 5rem;
	}

	#job-history {
		scrollbar-width: none;
	}

	#last-updated {
		max-width: 50px;
	}
}
