html {
	background-color: lightblue;
	padding: 1rem 2rem;
	font-family: sans-serif;
}

body {
	margin: 0;
}

a {
  text-decoration: none;
  font-family: sans-serif;
	color: black;
}

a:not(.this-page):hover {
	opacity: 0.5;
}

a.this-page {
	background: lightblue;
	cursor: grabbing;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	margin-bottom: 1rem;
}

h2 {
	margin-bottom: 1rem;
}

h3 {
	margin-top: 0;
}

.favicon {
	height: 32px;
	width: 32px;
	margin-right: 1rem;
}

.flex-row {
	display: flex;
}

a.flex-row {
	align-items: center;
}

p.flex-row {
	margin-left: 3rem;
}

#collections {
	margin-right: 2rem;
}

.calendly-overlay .calendly-popup {
	max-height: 720px;
}

nav {
	min-height: 4rem;
	display: flex;
	align-items: center;
	border-bottom: 2px solid gray;
	justify-content: space-between;
}

nav li a {
	min-height: 2rem;
	padding: 0.5rem 1rem;
	background: white;
	border-radius: 0.5rem;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

nav ul {
	display: flex;
	gap: 1rem;
}

@media screen and (max-width: 777px) {
	nav {
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
		margin-bottom: 0.25rem;
	}
}

#resume-page,
#resume-page body,
iframe#resume {
  height: 100%;
}

#resume-container {
  display: flex;
  justify-content: center;
  height: calc(100% - 3rem - 66px);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#contact-info {
  display: flex;
  gap: 1rem;
}

iframe#resume {
	width: 100%;
	max-width: 850px;
	min-height: 500px;
}

.header {
  text-align: center;
}

h1.header {
  font-family: sans-serif;
}