.portfolio-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 800px;
	gap: 2rem;
	margin: 2rem auto;
}

a.portfolio-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 800px;
	max-height: 128px;
	text-align: center;
	opacity: 0.75;
	transition: opacity 0.3s ease, transform 0.3s ease;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.5);
}

a.portfolio-item:hover {
	opacity: 1;
	transform: scale(1.1);
}

a.portfolio-item span {
	position: absolute;
	opacity: 0;
	transition: opacity 0.3s ease;
	font-size: 2rem;
	padding: 4px 8px;
	background-color: rgba(255, 255, 255, 0.75);
	border: 2px solid black;
	border-radius: 8px;
}

a.portfolio-item:hover span {
	opacity: 1;
}

a.portfolio-item img {
	width: 100%;
	height: auto;
}

a.portfolio-item img.image-by-height {
	width: unset;
	height: 128px;
}

.portfolio-title {
	margin: 0;
	padding-bottom: 8px;
	width: 100%;
	text-align: center;
	border-bottom: 2px solid gray;
}

.portfolio-title:not(:first-of-type) {
	margin-top: 2rem;
}
