html {
	background-color: lightblue;
	padding: 1rem 2rem;
	font-family: sans-serif;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	font-family: sans-serif;
	color: black;
}

nav a:not(.this-page):hover {
	opacity: 0.5;
}

nav a.this-page {
	background: lightblue;
	cursor: grabbing;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	margin-bottom: 1rem;
}

h2 {
	margin-bottom: 1rem;
}

h3 {
	margin-top: 0;
}

.favicon {
	height: 32px;
	width: 32px;
	margin-right: 1rem;
}

.flex-row {
	display: flex;
}

a.flex-row {
	align-items: center;
}

p.flex-row {
	margin-left: 3rem;
}

#collections {
	margin-right: 2rem;
}

.calendly-overlay .calendly-popup {
	max-height: 720px;
}

nav,
nav ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

nav {
	min-height: 4rem;
	align-items: center;
	border-bottom: 2px solid gray;
	justify-content: space-between;

	@media screen and (max-width: 1100px) {
			justify-content: center;
	}
}

nav li a {
	min-height: 2rem;
	padding: 0.5rem 1rem;
	background: white;
	border-radius: 0.5rem;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

nav ul {
	justify-content: center;
	white-space: nowrap;
}

#contact-info {
	display: flex;
	gap: 1rem;
}

.header {
	text-align: center;
}

h1.header {
	font-family: sans-serif;
}

@media print {
	.calendly-badge-widget {
			display: none;
	}
}